<div class="row">
  <div class="col-md-5 offset-md-3" id="sep5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <strong>
            <h2>Cambiar contrase単a</h2>
          </strong>
        </h5>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %>
                <br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for:
                <%= resource.unconfirmed_email %>
              </div>
              <% end %>

                <div class="field">
                    <br />
                    <p>Contrase単a Nueva</p>
                    <%= f.password_field :password, autocomplete: "new-password" %>
                      <% if @minimum_password_length %>
                        <br />
                        <em>
                          <%= @minimum_password_length %> caracteres minimo</em>
                        <% end %>
                </div>

                <div class="field">
                    <br />
                    <p>Confirma Contrase単a Nueva</p>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <div class="field">
                      <br />
                    <p>Contrase単a Actual</p>
                    <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>

                <div class="actions">
                  <%= f.submit "Cambiar" %>
                </div>
                <% end %>

      </div>
    </div>
  </div>
</div>