<div class="row">
  <div class="col-3 offset-md-4" id="sep5">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title"> Iniciar Sesión </h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
              <br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password %>
              <br />
              <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
          </div>

              <div id:"card">
                <%= f.submit "Iniciar", class:"btn btn-primary thing" %>
              </div>
              <% end %>

                <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>