<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="thing">

            <h1>Bienvenido <%=current_user.name%> a Natillera</h1>
            <h2>Sus Ahorros han sido: <%=number_to_currency(@saves.sum(:money), :unit => "$")%></h2>

            <%=render 'layouts/savestable'%>
        </div>
        
        <div class="thing">

            <h2>Actividades de la Natillera</h2>
            <strong>Ganancias: <%=number_to_currency(@activities.sum(:earn), :unit => "$")%></strong>

            <%=render 'layouts/activitytable'%>
        </div>

    </div>
</div>