<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha &#x2193;</th>
      <th scope="col">Actividad</th>
      <th scope="col">Ganancias</th>
      <th scope="col">Notas</th>
    </tr>
  </thead>
  <tbody>
      <%@activities.each do |activity|%>
      <tr id="<%=activity.id%>">
        <th><%= link_to "&#9998;".html_safe, activity_path(activity), remote: true if user_signed_in? && current_user.admin?%> <%= link_to "&#128465;".html_safe, activitydelete_path(activity), method: :delete, data: { confirm: "¿Eliminar?" } if user_signed_in? && current_user.admin?%> <%=I18n.l activity.date, :format => "%B %d/%Y"%></th>
        <td><%=activity.activity%></td>
        <td><%=number_to_currency(activity.earn, :unit => "$")%></td>
        <td><%=activity.note%></td>
      </tr>
      <%end%>
  </tbody>
</table>