<table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Actividad</th>
            <th scope="col">Ganancias</th>
            <th scope="col">Notas</th>
            <%= '<th scope="col">Admin</th>'.html_safe if user_signed_in? && current_user.admin?%>
          </tr>
        </thead>
    <tbody>
        <%@activities.each do |activity|%>
        <tr>
          <th><%=I18n.l activity.date, :format => "%B %d/%Y"%></th>
          <td><%=activity.activity%></td>
          <td><%=number_to_currency(activity.earn, :unit => "$")%></td>
          <td><%=activity.note%></td>
          <td><%= link_to "Eliminar &#128465;".html_safe, activitydelete_path(activity), method: :delete, data: { confirm: "¿Eliminar?" } if user_signed_in? && current_user.admin?%>
        </tr>
        <%end%>
    </tbody>
</table>