<h4>Deudas con la Natillera</h4>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha &#x2193;</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Concepto</th>
          </tr>
        </thead>
    <tbody>
        <%@debt.each do |debt|%>
        <tr>
          <th><%= link_to "&#9998;".html_safe, debt_path(debt), remote: true if user_signed_in? && current_user.admin?%> <%= link_to "&#128465;".html_safe, debtdelete_path(debt), method: :delete, data: { confirm: "¿Eliminar?" } if user_signed_in? && current_user.admin?%><%=I18n.l debt.date, :format => "%B %d/%Y"%></th>
          <td id="debtcolor"><%= number_to_currency(debt.money, :unit => "$")%></td>
          <td><%= debt.note %></td>
        </tr>
        <%end%>
    </tbody>
</table>